<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deep Lairs</title>
  <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-white text-white h-screen">
  <div class="container mx-auto pt-4 h-full">
    <div id="content" class="bg-gray-700 p-5 rounded-t-3xl shadow-2xl shadow-black h-full flex flex-col">
      <h1 class="text-3xl font-bold mb-4 w-full bg-gray-700 flex-none">Deep Lairs</h1>
      <div id="lairs_container" class="overflow-y-auto flex-1 h-full bg-black m-2 rounded-md p-4">
        <div id="lairs" class="flex flex-col justify-end h-auto">
          <p>Welcome to Deep Lairs! Your adventure begins now...</p>
        </div>
      </div>
      <div id=" input-area" class="mt-4 flex-none">
        <input type="text" id="lair-input" class="w-full p-2 rounded bg-gray-800 text-white"
          placeholder="What do you do traveler?">
      </div>
    </div>
  </div>
  <script>
    const lairsDiv = document.getElementById("lairs");
    const lairsContainer = document.getElementById("lairs_container");

    function connect() {
      lairsDiv.innerHTML = "";
      ws = new WebSocket("ws://localhost:3000/ws");

      ws.onopen = () => {
        appendOutput("Connected to the server.");
      };

      ws.onclose = () => {
        appendOutput("Disconnected from the server.");
        setTimeout(() => {
          connect();
        }, 3000);
      };

      ws.onmessage = (event) => {
        appendOutput(event.data);
      };

      ws.onerror = (error) => {
        appendOutput("Disconnected from the server.");
        ws.close();
      };
    }

    function appendOutput(text) {
      const p = document.createElement("p");
      p.innerHTML = text;
      lairsDiv.appendChild(p);
      lairsContainer.scrollTop = lairsContainer.scrollHeight; // Auto-scroll to the bottom
    }

    // on pressing enter if lair input is focused
    const lairInput = document.getElementById("lair-input");
    lairInput.addEventListener("keypress", (event) => {
      if (event.key === "Enter") {
        const message = lairInput.value;
        if (message) {
          ws.send(message);
          lairInput.value = "";
        }
      }
    });

    connect();

  </script>
</body>

</html>