{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body class="bg-amber-50 text-gray-800 dark:bg-gray-900 dark:text-white">
  <div class="flex h-screen w-screen flex-col justify-center xl:flex-row xl:justify-evenly items-center">
    <img src="/img/logo.webp" alt="Deep Lairs Logo" class="mb-4 w-100 h-100">
    <div>
      <h1
        class="text-4xl font-bold mb-4 text-m font-stretch-condensed text-center text-shadow text-shadow-xs text-shadow-black dark:text-shadow-none">
        Welcome to Deep
        Lairs</h1>
      <p class="mb-6 text-shadow text-shadow-black text-shadow-2xs dark:text-shadow-none">Embark on an epic text-based
        adventure!</p>
      <div class="flex justify-center xl:justify-normal">
        <a href="/signup" class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700 transition">Start Your
          Journey</a>
      </div>
      <div class="mt-4 text-left">
        <a href="/login" class="text-sm text-blue-600 hover:underline">Already have an account? Login</a>
      </div>
    </div>
  </div>
</body>

</html>
{{ end }}